* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 60px;
}

h1 {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.list {
  width: 60%;
}

.list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.add-score {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.recent-scores {
  margin-top: 10px;
  width: 80%;
}

.form-group:last-child {
  align-self: flex-end;
}

.list #ref {
  align-self: baseline;
}
